
<div class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                <% include ./../../elements/posts-in-category %>
            </div>
            <div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
                <% include ./../../elements/sidebar %>
            </div>
        </div>

        <% include ./../../elements/pagination %>
    </div>
</div>

<% include ./../../elements/slide-posts-1 %>
<% include ./../../elements/slide-posts-2 %>