<% 
    controlHelper = (id, linkPrefix) => {
        const link = `${linkPrefix}/delete/${id}`;
        return `<a href="" class="rounded-circle btn btn-sm btn-info" title="Edit">
                    <i class="fas fa-pencil-alt"></i>
                </a>
                <a href="javascript:deleteItem('${link}')" class="rounded-circle btn btn-sm btn-danger" title="Delete">
                    <i class="fas fa-trash-alt"></i>
                </a>`
    }
%>